/playbooks/satellite/collections
/playbooks/satellite/manifest.zip
/playbooks/satellite/persistent.yaml
/playbooks/satellite/configure.yaml
/playbooks/satellite/lab-configure.yaml
/playbooks/satellite/inventory
test_*

TODO.txt